<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>content</h1>
<hr>
<br>
<div th:text="${Content.title}"></div>
<div th:utext="${Content.content}"></div>
<a th:href="@{/editor/{id}(id=${Content.id})}">게시글 수정</a><br>
<a th:href="@{/delete/{id}(id=${Content.id})}">게시글 삭제</a><br>
<hr>
<br>
</body>
</html>